1. 1)10 + 15
2. 2)print("Hello World")
3. 3)45 - 34
4. 4)8 * 2
5. 5)print("Rahul's age is", 45)
6. 6)print("I have", 10, "mangoes and", 12, "bananas")

In [ ]:
10+15

25

In [ ]:
print("Hello World")

Hello World

In [ ]:
45 - 34

11

In [ ]:
8*2

16

In [ ]:
print("Rahul's age is", 45)

Rahul's age is 45

In [ ]:
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

7. Execute the following

> emp_number = 1233

> print("Employee Number:", emp_number)

> emp_salary = 16745.50

> emp_name = "Jerry Squaris"

> print("Employee Salary and Name:", emp_salary, emp_name)

> emp_salary = 23450.34

> print("Updated Employee Salary:", emp_salary)

In [ ]:
emp_number = 1233
print("Employee Number:", emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

8. Observe the output of following

> customer_id = 101

> type(customer_id)

> customer_name = "John"

> type(customer_name)

> bill_amount = 675.45

> type(bill_amount )

> x = 5.3 + 0.9j

> type(x)

> print(customer_id, customer_name, bill_amount)

> print(x.real)

> print(x.imag + 3)

> Flag = True

> type(Flag)

> y = "False"

In [ ]:
customer_id = 101
type(customer_id)
customer_name = "John"
type(customer_name)
bill_amount = 675.45
type(bill_amount )
x = 5.3 + 0.9j
type(x)
print(customer_id, customer_name, bill_amount)
print(x.real)
print(x.imag + 3)
Flag = True
type(Flag)
y = "False"

101 John 675.45
5.3
3.9

9. In a retail application, shopkeeper wants to keep a track of following details of a customer.
Sample values are provided.
      
      > bill_id = 101
      
      > customer_id = 1001
      
      > customer_name = "Rahul"
      
      > if_minor = False
      
      > bill_amount = 2000.50

Write a python program to store the details and display them.

In [ ]:
bill_id = 101
customer_id = 1001
customer_name = "Rahul"
if_minor = False
bill_amount = 2000.50
print("Customer Details:")
print("bill_id = ", bill_id)
print("customer_id = ", customer_id)
print("customer_name = ", customer_name)
print("if_minor = ", if_minor)
print("bill_amount = ", bill_amount)

Customer Details:
bill_id =  101
customer_id =  1001
customer_name =  Rahul
if_minor =  False
bill_amount =  2000.5

10. Write a Python program for the following requirements:
      
       Prompt the user to input two numbers num1 and num2
      
       Increment num1 by 4 and num2 by 6
      
       Find and print the sum of new values of num1 and num2

In [ ]:
num1 = int(input("Input number 1: "))
num2 = int(input("Input number 2: "))
num1 += 4
num2 += 6
print("New value of num1 =", num1)
print("New value of num2 =", num2)
print("num1 + num2 =", num1 + num2)

Input number 1: 5
Input number 2: 8
New value of num1 = 9
New value of num2 = 14
num1 + num2 = 23

11. Consider two variables 'a' and 'b' in Python such that a = 4 and b = 5. Swap the values of 'a'
and 'b' without using a temporary variable. Print the values of 'a' and 'b' before and after
swapping.

In [ ]:
a = 4
b = 5
print("Old value of a =", a)
print("Old value of b =", b)
a, b = b, a
print("New value of a =", a)
print("New value of b =", b)

Old value of a = 4
Old value of b = 5
New value of a = 5
New value of b = 4

12. Consider the scenario of processing marks of a student in ABC Training Institute. John, the
student of fifth grade takes exams in three different subjects. Create three variables to store
the marks obtained by John in three subjects. Find and display the average marks scored by
John.Now change the marks in one of the subjects and observe the output. Did the value of
average change. Write a Python program to implement this.

In [ ]:
mark1 = int(input("Marks in subject 1: "))
mark2 = int(input("Marks in subject 2: "))
mark3 = int(input("Marks in subject 3: "))
print("Old Average of 3 subjects =", (mark1 + mark2 + mark3) / 3)
mark2 = 20
print("New Average of 3 subjects =", (mark1 + mark2 + mark3) / 3)

Marks in subject 1: 18
Marks in subject 2: 9
Marks in subject 3: 26
Old Average of 3 subjects = 17.666666666666668
New Average of 3 subjects = 21.333333333333332

13. Given the value of radius of a circle, write a Python program to calculate the area and
perimeter of the circle. Display both the values.

In [ ]:
pi = 22 / 7
radius = int(input("Radius of circle: "))
print("Perimeter of circle:", 2 * pi * radius)
print("Area of circle:", pi * radius * radius)

Radius of circle: 7
Perimeter of circle: 44.0
Area of circle: 154.0

14. The finance department of a company wants to compute the monthly pay of its employees.
Monthly pay should be calculated as mentioned in the formula below. Display all the
employee details. Monthly Pay = Number of hours worked in a week * Pay rate per hour *
No. of weeks in a month
    
      a. The number of hours worked by the employee in a week should be considered as 40
    
      b. Pay rate per hour should be considered as Rs.400
    
      c. Number of weeks in a month should be considered as 4
Write a Python program to implement the above real world problem.

In [ ]:
def calculate_monthly_pay(hrs_per_week, pay_rate_per_hr, weeks_in_month):
  return hrs_per_week * pay_rate_per_hr * weeks_in_month

hrs_per_week = 40
pay_rate_per_hr = 400
weeks_in_month = 4

monthly_pay = calculate_monthly_pay(hrs_per_week, pay_rate_per_hr, weeks_in_month)

print("Monthly pay =", monthly_pay)

Monthly pay = 64000

15. Implement the following in Python:

      a. Display all even numbers between 50 and 80 (both inclusive) using "for" loop.

      b. Add natural numbers up to n where n is taken as an input from user. Print the sum.

      c. Prompt the user to enter a number. Print whether the number is prime or not.

      d. Print Fibonacci series till nth term where n is taken as an input from user

In [ ]:
for i in range(50, 80 + 1):
  if (i % 2 != 0):
    continue
  
  print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

In [ ]:
n = int(input("Input n; n is the number upto which sum of natural numbers will be calculated: "))

def cal_sum(n):
  if (n == 1):
    return n
  
  return n + cal_sum(n-1)

print("Sum: ", cal_sum(n))

Input n; n is the number upto which sum of natural numbers will be calculated: 100
Sum:  5050

In [ ]:
n = int(input("Input n: "))

def is_prime(n):
  i = 2  
  while (i < n / 2):
    if (n % i == 0):
      return False
    i += 1

  return True

print("Is {} prime: {}".format(n, is_prime(n)))

Input n: 111
Is 111 prime: False

In [ ]:
n = int(input("Terms in fibonacci series: "))

i = 0

a = 1
b = 1

while i < n:
  i += 2
  print(a)
  i < n and print(b)
  a = a + b
  b = a + b

Terms in fibonacci series: 15
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610