# **Question 1:** 
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [13]:
array = []
for i in input("Input the string: ").split(" "):
  (name, age, height) = tuple(i.split(","))
  array.append((name, age, height))

print(array)
array.sort()
print(array)

Input the string: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85
[('Tom', '19', '80'), ('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85')]
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

# **Question 2:**
Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary. Produce a frequency table.
Hint1: Iterate through the string, placing the words into a dict. The first time a word is seen, the frequency is 1. Each time the word is seen again, increment the frequency. 
Hint2: Similar program given in Tuple Dictionary Notebook.

In [17]:
string = input("Enter the string: ")
count = {}
for i in string:
  if i not in count:
    count[i] = 1
  else:
    count[i] += 1

print(count)

Enter the string: abbcccddddeeeeefgghhh12233355555
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 1, 'g': 2, 'h': 3, '1': 1, '2': 2, '3': 3, '5': 5}

# **Question 3:**
 Result Calculation. Create a dictionary and a list like following.
Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students
Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), 
  ('UE183003', 'CS', 64)] Add some more values
Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

In [37]:
students = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya', 'UE183004': 'Tanya', 'UE183005': 'Tanya', 'UE183006': 'Tanya', 'UE183007': 'Tanya', 'UE183008': 'Tanya', 'UE183009': 'Tanya', 'UE183010': 'Tanya' }
marks = [('UE183001', 'CS', 42 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'RV', 74), ('UE183003', 'CS', 42 ), ('UE183004', 'CS', 64 ), ('UE183003', 'RV', 94), ('UE183004', 'RV', 74), ('UE183005', 'CS', 94 ), ('UE183006', 'CS', 64 ), ('UE183005', 'RV', 65), ('UE183006', 'RV', 56), ('UE183007', 'CS', 94 ), ('UE183008', 'CS', 64 ), ('UE183007', 'RV', 87), ('UE183008', 'RV', 74), ('UE183009', 'CS', 54 ), ('UE183010', 'CS', 64 ), ('UE183009', 'RV', 65), ('UE183010', 'RV', 23)]

def get_tuples(rollno):
  arr = []
  for i in marks:
    if rollno in i:
      arr.append(i)
  
  return arr

def sum_of_marks(arr):
  sum = 0
  for i in arr:
    sum += i[2]

  return sum

print("{:15} {:15} {:15}".format("Roll No", "Name", "Marks"))
for rollno in students:
  print("{:15} {:15} {:15}".format(rollno, students[rollno], sum_of_marks(get_tuples(rollno))))

Roll No         Name            Marks
UE183001        Avish                       136
UE183002        Bhavya                      138
UE183003        Tanya                       136
UE183004        Tanya                       138
UE183005        Tanya                       159
UE183006        Tanya                       120
UE183007        Tanya                       181
UE183008        Tanya                       138
UE183009        Tanya                       119
UE183010        Tanya                        87

# **Question 4:**
 A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. Create a dict suitable for decoding month names to numbers. Create a function which uses string operations to split the date into 3 items using the "-" character. Translate the month, correct the year to include all of the digits.
The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d )

In [42]:
month_to_num = month = { "JAN": 1, "FEB": 2, "MAR": 3, "APR": 4, "MAY": 5, "JUN": 6, "JUL": 7, "AUG": 8, "SEP": 9, "OCT": 10, "NOV": 11, "DEC": 12 }

(d, m, y) = tuple(input("Enter the date: ").split("-"))

m = month_to_num[m]
y = int(y)
d = int(d)
if (y < 21):
  y = 2000 + y
else:
  y = 1900 + y

output = (y, m, d)
print(output)

Enter the date: 17-APR-19
(2019, 4, 17)

# **Question 5:**
 Dice Odds. There are 36 possible combinations of two dice. A simple pair of loops over range(6)+1 will enumerate all combinations. The sum of the two dice is more interesting than the actual combination. Create a dict of all combinations, using the sum of the two dice as the key. Each value in the dict should be a list of tuples; each tuple has the value of two dice. The general outline is something like the following:
d= {}
Loop with d1 from 1 to 6
    Loop with d2 from 1 to 6
        newTuple ← ( d1, d2 ) # create the tuple
        oldList ← dictionary entry for sum d1+d2
        newList ← oldList + newTuple
        replace entry in dictionary with newList
Loop over all values in the dictionary
print the key and the length of the list

In [46]:
sums = {}

for i in range(1, 7):
  for j in range(1, 7):
    if (i+j) not in sums:
      sums[i+j] = [(i, j)]
    else:
      sums[i+j].append((i, j))

print(sums)

{2: [(1, 1)], 3: [(1, 2), (2, 1)], 4: [(1, 3), (2, 2), (3, 1)], 5: [(1, 4), (2, 3), (3, 2), (4, 1)], 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)], 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)], 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)], 9: [(3, 6), (4, 5), (5, 4), (6, 3)], 10: [(4, 6), (5, 5), (6, 4)], 11: [(5, 6), (6, 5)], 12: [(6, 6)]}